In [1]:
import pandas as pd

In [ ]:
data_dict = {'air': ['aquarius', 'gemini', 'libra'], 'fire':['aries', 'leo', 'sagittarius'], 'earth':['capricorn', 'taurus', 'virgo']}

dat = pd.DataFrame(data_dict)

dat

        air        fire      earth
0  aquarius       aries  capricorn
1    gemini         leo     taurus
2     libra  sagitarius      virgo

In [4]:
dat.head()

        air        fire      earth
0  aquarius       aries  capricorn
1    gemini         leo     taurus
2     libra  sagitarius      virgo

In [7]:
len(dat.index)

3

In [8]:
dat['air']

0    aquarius
1      gemini
2       libra
Name: air, dtype: object

In [9]:
dat.iloc[0]

air       aquarius
fire         aries
earth    capricorn
Name: 0, dtype: object

In [10]:
data_list = [{'air': 'aquarius', 'fire': 'aries', 'earth': 'capricorn'}, {'air': 'gemini', 'fire': 'leo', 'earth': 'taurus'}, {'air': 'libra', 'fire': 'sagittarius', 'earth': 'virgo'}]

dat2 = pd.DataFrame(data_list)

dat2

        air         fire      earth
0  aquarius        aries  capricorn
1    gemini          leo     taurus
2     libra  sagittarius      virgo

In [12]:
dat2.to_csv('smithpandas.csv')

### What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?

Similar to the design thinking process of empathisizing with/defining the problem, **ideating, prototyping, and testing** before implementing, the "Write/render/evaluate" loop for data visualization allows the designers of these maps to get better at their craft, finding *increasingly new, inventive, and effective solutions* to help others digest the information better.

### Why are dynamic, interactive data visualizations useful when communicating data?

We're encouraging our audience to engage with the information and learn more by utilizing dynamic and interactive data visualizations. Like a fishing line, the engaging visuals draw people in, and the interactivity allows them to not get too overwhelmed at a wall of datasets and charts, but rather to peruse the cursory information, and then as they engage it opens up to let them understand more.

### Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you do or do not agree.

"Best" is subjective, and has **way** too many factors to contend with for me to put my two cents in, but the amazing thing about using open source tools and publishing on the web is that they're highly accessible, in every sense. This allows for far more creativity and learning, as with every subscription, or "buy now" button, you're incrementally losing more and more of who could've been great data visualizers and engagers. By keeping everything open source, you're also keeping learning open source, in a way.